#root {
  max-width: 1280px;
  min-width: 400px;
  margin: auto;
  margin-top: 10px;
  padding: 2rem;
  text-align: center;
}

img{
  width: 40px;
  height: 40px;
  filter: invert(92%);
}

.smallLogo{
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 25px;
  height: 25px;

}

.heading{
  display: flex;
}

#projectInput{
  width: 350px;
  font-size: 3.2em;
  line-height: 1;
  margin: 0.67em 0;
}

.heading{
  margin-top: 0px;
}

.remindUser{
  border: 2px solid red;
}

.taskContainer,
.editContainer{
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: 4px rgba(255, 255, 255, 0.87) solid ;
  border-radius: 15px;
  margin-bottom: 20px;
}

.dueContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.editDescription{
  grid-column: 1 / 3;
  resize: vertical;
  max-height: 200px;

  margin: 0px 0px 10px;

}

.editContainer > img {
  margin: auto;
  height: 35px;
}

.dueContainer > div{
  margin: auto;
} 

.editTitle{
  height: 80px;
}

.editTitle > input{
  width: 100%;
  height: 100%;
  font-size: 100%;

}


.taskInfo,
.taskTitle{
  text-align: left;
  padding-left: 5px;
}

.taskInfo{
  padding-bottom: 5px;
}

.checked{
  margin: auto;
}

.taskControls{
  margin-top: auto;
}

.editTask{
  width: 25px;
}